@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 0;
  background-image: linear-gradient($gradient1, transparent);
  z-index: 1;
  transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;

  &.active {
    background-color: $gradient1;
  }

  .navbar {
    @include max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;

      span {
        text-transform: uppercase;
        white-space: nowrap;
        padding: 4px 5px;
        border: 2px solid $white;
        color: $white;
      }
    }

    .links {
      @include devices(tablet) {
        display: none;
      }

      ul {
        li {
          display: inline-block;
          margin: 0 1rem;
        }
      }
    }

    .icon {
      display: none;
      width: 3.2rem;
      height: 3.2rem;
      color: $white;
      cursor: pointer;
      z-index: 3;

      @include devices(tablet) {
        display: inline-block;
      }
    }

    .burger {
      position: fixed;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 2;
      transition: all 0.6s ease-in-out;

      &.active {
        top: 50%;
        opacity: 1;
        transition: all 0.6s ease-in-out 0.2s;
      }

      ul {
        text-align: center;

        li {
          margin: 4rem 0;

          a {
            font-size: 2.1rem;
          }
        }
      }
    }

    .background {
      position: fixed;
      top: 2.5rem;
      right: 2.5rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-image: radial-gradient($gradient1, $gradient2);
      opacity: 0;
      z-index: 1;
      transition: all 0.5s ease-in-out 0.2s;

      &.active {
        transition: all 0.5s ease-in-out;
        transform: scale(120);
        opacity: 1;
      }
    }
  }
}
